<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>耗材管理系统</title>
    <link rel="stylesheet" href="../../static/css/consuming.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../../static/css/bar.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../../static/css/header.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
<div class="nav">
    <ul>
        <li><a href="default.html">主页</a></li>
        <li><a href="consuming.html">申报耗材</a></li>
        <li><a href="find.html">申报查询</a></li>
        <li><a href="receive.html">申报领取</a></li>
        <li><a href="confirm.html">申报确认</a></li>
        <li><a href="recorder.html">领用记录</a></li>
        <li><a href="store.html">库存查询</a></li>
        <li><a href="excel.html">Excel</a></li>
        <li><a href="../user/user.html">用户管理</a></li>
        <li><a href="../user/change.html">修改密码</a></li>
        <li><a href="management.html">耗材管理</a></li>
    </ul>
</div>
<div class="header">
    <div class="logo">
        <img src="../../static/img/logo.png" height="45"/>
    </div>
    <div class="tool">
        <ul>
            <li class="logOut"><a href="#">注销</a></li>
            <li>equipmenter[设备管理者][设备处]</li>
        </ul>
    </div>
</div>
<div id="container" class="container">
    <div class="warp">
        <div class="title"><a class="text" id="one" href="#">单笔申报</a></div>
        <div class="title"><a class="text" id="batch" href="#">批量申报</a></div>
        <div class="title"><a class="text" id="rejection" href="#">驳回编辑</a></div>
        <div class="title"><a class="text" id="draft" href="#">草稿</a></div>
        <div style="clear:both"></div>
    </div>
    <div class="content">
            <div class="widget-header"><span class="left-header-text">项目信息</span></div>
            <div class="widget-content">
                <div class="text-block">
                    <span class="input-text">单位名称</span>
                    <div><input type="text" class="input w-183" id="department_name" placeholder="单位名称"></div>
                </div>
                <div class="text-block">
                    <span class="input-text">实验项目</span>
                    <div><input type="text" class="input w-183" id="experiment_project" placeholder="单位名称"></div>
                </div>
                <div class="text-block">
                    <span class="input-text">需要到货时间</span>
                    <div><input type="text" class="input w-183" id="require_time" placeholder="单位名称"></div>
                </div>
                <div class="text-block">
                    <span class="input-text">采购方式</span>
                    <div><input type="text" class="input w-183" id="purchase_mean" placeholder="单位名称"></div>
                </div>
                <div class="text-block">
                    <span class="input-text">分包</span>
                    <div><input type="text" class="input w-183" id="subpackage" placeholder="单位名称"></div>
                </div>
                <div class="text-block">
                    <span class="input-text">实验员</span>
                    <div><input type="text" class="input w-183" id="experimenter" placeholder="单位名称"></div>
                </div>
                <div class="text-block">
                    <span class="input-text">实验课程</span>
                    <div><input type="text" class="input w-183" id="experiment_course" placeholder="单位名称"></div>
                </div>
                <div class="text-block">
                    <span class="input-text">计划学时</span>
                    <div><input type="text" class="input w-90" id="plan_course"></div>
                </div>
                <div class="text-block">
                    <span class="input-text">试验组数</span>
                    <div><input type="text" class="input w-90" id="experiment_group"></div>
                </div>
                <div class="text-block">
                    <span class="input-text">实验人数</span>
                    <div><input type="text" class="input w-90" id="experiment_number"></div>
                </div>
                <div class="text-block">
                    <span class="input-text">备注</span>
                    <div><input type="text" class="input w-240" id="remark" placeholder="单位名称"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    <div class="content">
            <div class="widget-infoheader"><span class="left-header-text">耗材信息</span></div>
            <div class="widget-content">
                <div class="text-block">
                    <span class="input-text">耗材名称</span>
                    <div><input type="text" class="input w-90" id="comsuming_name" placeholder="耗材名字"></div>
                </div>
                <div class="text-block">
                    <span class="input-text">规格</span>
                    <div><input type="text" class="input w-90" id="size" placeholder="规格"></div>
                </div>
                <div class="text-block">
                    <span class="input-text">包装</span>
                    <div><input type="text" class="input w-90" id="pack" placeholder="包装"></div>
                </div>
                <div class="text-block">
                    <span class="input-text">产地品牌</span>
                    <div><input type="text" class="input w-90" id="brand" placeholder="产地品牌"></div>
                </div>
                <div class="text-block">
                    <span class="input-text">最小单位</span>
                    <div><input type="text" class="input w-90" id="min" placeholder="最小单位"></div>
                </div>
                <div class="text-block">
                    <span class="input-text">数量</span>
                    <div><input type="text" class="input w-90" id="number" placeholder="数量"></div>
                </div>
                <div class="text-block">
                    <span class="input-text">分类</span>
                    <div><input type="text" class="input w-90" id="classification" placeholder="分类"></div>
                </div>
                <div class="text-block">
                    <span class="input-text">是否为危险品</span>
                    <div><input type="text" class="input w-90" id="is_dangerous" placeholder="是否为危险品"></div>
                </div>
                <div class="text-block">
                    <span class="input-text">&nbsp;</span>
                    <div><a class="btn w-70">移除</a></div>
                </div>
                <div class="text-block">
                    <a class="btn w-90">添加</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
</div>
<script src="../../static/js/content.js" charset="utf-8"></script>
</body>
</html>